* {
	/* box-sizing: border-box; */
	background-color: #121213;
	color: white;
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	/* overflow-y: hidden; */
	margin: 0;
    padding: 0;
}

header {
}

#game-screen {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 3fr 1fr;
}

#guesses {
	/* display: grid;
	justify-items: center;
	align-items: center; */

	display: grid;
	justify-items: center;
	align-content: center;
	grid-template-rows: repeat(6, auto);
	grid-template-columns: repeat(1, auto);
}

.guess {
	/* display: flex; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.guess-letter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;
	font-size: 1.4rem;
	font-weight: bold;
	border: 2px solid #3a3a3c;
	margin: 0.15rem;
	height: 4rem;
	width: 4rem;
	text-transform: uppercase;
}

#keyboard {
	display: grid;
	align-content: flex-end;
	justify-content: center;
}

.keyboard-row {
	display: flex;
	justify-content: center;
}


.keyboard-letter {
	padding: 1em;
	background-color: #818384;
	margin: 0.2rem;
	border-radius: 0.5rem;
	text-transform: uppercase;
	border: 0;
}

.single-tile-letter {
	height: 3rem;
	width: 3rem;
}

.enter-letter {
	height: 3rem;
	width: 4rem;
}

.backspace-letter {
	height: 3rem;
	width: 6rem;
}

/* .single-tile-letter {
	height: 6vh;
	width: 6vw;
}

.enter-letter {
	height: 6vh;
	width: 6vw;
}

.backspace-letter {
	height: 6vh;
	width: 6vw;
} */

.capitalised-text {
	text-transform: capitalize;
}